body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}
div{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1em;
    margin: 0 auto;
    max-width: 25em;
    background-color: #01A5B1;
    color: #000000c5;
    box-shadow: 10px 5px 5px rgba(71, 71, 71, 0.651);
    border: 2px solid #001E57;
    border-radius: 10px;
}
a{
    margin-left: 2em;
    font-size: 20px;
}
a:visited{
    color: #191314;
}